body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    width: 100%;

}

.nav-link {
    width: 100% !important;
    padding: 15px !important;
    color: azure !important;
    font-size: 18PX;
    position: relative;
    top: 10PX;
    right: 20PX;
}
.carousel-inner img {
    height: 750px !important;
    width: 100%;
    background-size: cover;
    opacity: 60%;
}

.carousel-inner {
    background-color: black;

}

.a {
    border-bottom: 1px solid rgb(190, 172, 172) !important;
    padding-bottom: 20PX !important;
    padding: 10px;
    width: 100% !important;
    position: relative;
    right: 20px;
}


#navbarDropdown {
    padding: 10px !important;
}

/* btn1*/
.btn1 {
    color: #FFF;
    border: 1PX solid #FFF;
    border-radius: 0% !important;
    padding: 10px 15px;
    position: relative;
    top: 8px;
    transition: background 0.5s;
}

.btn:hover {
    background: blue;
}

.a {
    color: black !important;
    position: relative;
    left: 20px;
    padding-bottom: 20px !important;
}
.next {
    background: #000 !important;
    padding: 10px 15px !important;
    color: #fff !important;



}

.carousel-caption {
    z-index: 1 !important;

}

.carousel-caption h5 {
    position: relative;
    bottom: 250px;
    font-weight: 700;

    font-size: 75px;
    text-transform: uppercase;
}

.carousel-caption p {
    position: relative;
    bottom: 280px;
    font-size: 20px !important;

    font-size: 15px;
    text-transform: uppercase;
}

.carousel-caption button {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 13px 50px;
    position: relative;
    bottom: 230px;

}
@media screen and (max-width: 768px) {
    .carousel-caption {
        z-index: 1 !important;
    
    }
    
    .carousel-caption h5 {
        position: relative;
        bottom: 150px;
        font-weight: 500;
    
        font-size: 45px;
        text-transform: uppercase;
    }
    
    .carousel-caption p {
        position: relative;
        bottom: 180px;
        font-size: 15px !important;
    
        font-size: 10px;
        text-transform: uppercase;
    }
    
    .carousel-caption button {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 10px 45px;
        position: relative;
        bottom: 130px;
}
}

.titel1 {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #393636;
    font-size: 50px;
}
.titel1::after {
    content: '';
    background: #000000;
    width: 100px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Os */

.OS {
    height: 550px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 20px 10px #eee7e6;
    background-image: url(./4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 70%;
    margin-top: 67px;

}
.titel {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.titel::after {
    content: '';
    background: #eee7e6;
    width: 100px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.fa-solid1 {
    height: 100px;
    width: 100px;
    font-size: 20px;
    border: 1px solid rgb(250, 247, 247);
    border-radius: 50px;
    padding: 22px;
    position: relative;
    /* bottom: 20%; */
    color: rgb(247, 247, 247);
    font-size: 50px;
}

@media screen and (max-width: 768px) {

    .titel {
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color: #555;
    }
    .titel::after {
        content: '';
        background: #eee7e6;
        width: 100px;
        height: 2px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .process{
        margin-left:100px ;
    }
    .fa-solid1 {
        height: 50px;
        width: 50px;
        /* font-size: 8px; */
        border: 1px solid rgb(250, 247, 247);
        border-radius: 50px;
        padding: 15px;
        position: relative;
        color: rgb(247, 247, 247);
        font-size: 20px;
        margin-left: 80px;
        margin-bottom: 20px;
        align-items: center;
    }
    .OS {
        height: 900px;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 20px 10px #eee7e6;
        background-image: url(./4.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        opacity: 70%;
        margin-top: 67px;
    
    }
    .spa1{
        font-size: 15px !important;
    }
    .new-section {
        margin-top: 100px;
        background-color: #fff;
        height: 1200px !important;
        width: 100%;
        box-shadow: 0 0 20px 10px #eee7e6;
        padding: 60px;
    
    }
    .new-section2 {
        margin-top: 100px;
        background-color: #fff;
        height: 2600px !important;
        width: 100%;
        box-shadow: 0 0 20px 10px #eee7e6;
        padding: 60px;
    }

    .new-section3 {
        margin-top: 100px;
        background-color: #fff;
        height: 1650px !important;
        width: 100%;
        box-shadow: 0 0 20px 10px #eee7e6;
        padding: 60px;
    }
    .new-section4 {
        margin-top: 100px;
        background-color: #fff;
        height: 2050px !important;
        width: 100%;
        box-shadow: 0 0 20px 10px #eee7e6;
        padding: 60px;
    }
    .new-section5 {
        margin-top: 100px;
        background-color: #fff;
        height: 850px !important;
        width: 100%;
        box-shadow: 0 0 20px 10px #eee7e6;
        padding: 60px;
    }
}
.new-section {
    margin-top: 100px;
    background-color: #fff;
    height: 500px;
    width: 100%;
    box-shadow: 0 0 20px 10px #eee7e6;
    padding: 60px;

}
.pkg{
    height: 150px;
    width: 150px;
    font-size: 80px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 25px;

}
.pkg:hover{
    background-color: #c9c2c2;
    height: 150px;
    width: 150px;
    font-size: 80px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 25px;
    color: white;

}
.new-section2 {
    margin-top: 100px;
    background-color: #fff;
    height: 750px;
    width: 100%;
    box-shadow: 0 0 20px 10px #eee7e6;
    padding: 60px;
}
.new-section3 {
    margin-top: 100px;
    background-color: #fff;
    height: 750px;
    width: 100%;
    box-shadow: 0 0 20px 10px #eee7e6;
    padding: 60px;
}
.new-section4 {
    margin-top: 100px;
    background-color: #fff;
    height: 1550px;
    width: 100%;
    box-shadow: 0 0 20px 10px #eee7e6;
    padding: 60px;
}
.new-section5 {
    margin-top: 100px;
    background-color: #fff;
    height: 350px;
    width: 100%;
    box-shadow: 0 0 20px 10px #eee7e6;
    padding: 60px;
}
/* footer */
h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}
.footer {
background: linear-gradient(105deg,#6e99e6 ,#093c94);
padding-top: 80px;
padding-bottom: 40px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer{}
@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
color: #fff;
margin-top: 0;
margin-bottom: 25px;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
}
.single_footer h4::after {
content: "";
display: block;
height: 2px;
width: 40px;
background: #fff;
margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
}
.single_footer ul li{}
.single_footer ul li a {
color: #fff;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 15px;
text-transform: capitalize;
}
.single_footer ul li a:hover { color: #ff3666; }

.single_footer_address{}
.single_footer_address ul{}
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
}
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
display: block;
position: relative;
margin-top: 15px;
width: 100%;
}
.subscribe__input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #01c7e9;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
color:#ff3666;
}
button {
padding: 0;
border: none;
background-color: transparent;
-webkit-border-radius: 0;
border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}
.social_profile ul li a:hover{
background:#ff3666;
border: 1px solid #ff3666;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 70px;
padding-top: 40px;
color:#fff;
font-size: 15px;
border-top: 1px solid rgba(255,255,255,0.4);
text-align: center;
}
.copyright a{color:#01c7e9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#ff3666;}